body {
  background-image: url(images/loopfall.gif);
  background-repeat: repeat;
  background-position: center;
  background-size: 110vw;
}
.berryweather {
  font-size: 5vw;
  font-family: Verdana, sans-serif;
  color: cornflowerblue;
}
.berryweather2 {
  font-size: 3vw;
  font-family: Verdana, sans-serif;
  color:darkblue;
}
.berryimage {
  width: 20vw;
  height: 20vw;
}
.flex-container {
  background: tomato;
  display: flex;
  flex-direction: column;
  padding-left: 30vw;
  padding-right: 30vw;
  margin-top: 3.8vw;
}
.flex-item {
  background: khaki;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.flex-image {
  background:lightsteelblue;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
