body {
  background-image: url(images/bg.gif);
  /* background-image: url(images/bginvert.gif); */
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

.berryweather {
  font-size: 4vw;
  font-family: Verdana, sans-serif;
  color: cornflowerblue;
  /* font-family: 'Press Start 2P'; */
  /* color: red; */
}

.berryweather2 {
  font-size: 2vw;
  font-family: Verdana, sans-serif;
  color: darkblue;
  /* font-family: 'Press Start 2P'; */
  /* color: maroon; */
}

.berryimage {
  width: 20vw;
  height: 20vw;
}

.flex-container {
  /* background: tomato; */
  display: flex;
  flex-direction: column;
  margin: -8px;
  height: 100vh;
  padding-left: 30vw;
  padding-right: 30vw;
}

.flex-item {
  /* ------------- KEYCAPS ------------- */
  background: rgb(245, 245, 245);
  border-left: 1.2vw solid rgb(250, 250, 250);
  border-right: 1vw solid rgb(250, 250, 250);
  border-top: 0.3vw solid rgb(225, 225, 225);
  border-bottom: 0.6vw solid rgb(215, 215, 215);

  /* -------------- RETRO -------------- */
  /* border-left: 0.6vw solid rgb(0, 0, 0);
  border-right: 0.6vw solid rgb(0, 0, 0);
  border-top: 0.4vw solid rgb(0, 0, 0);
  border-bottom: 0.4vw dotted rgb(0, 0, 0); */

  /* ---------- OTHER OPTIONS ---------- */
  /* border-left: 1vw solid whitesmoke;
  border-right: 1vw solid whitesmoke;
  border-top: 0.2vw solid whitesmoke;
  border-bottom: 0.2vw solid whitesmoke; */

  /* border-left: 1vw solid whitesmoke;
  border-right: 0.2vw solid whitesmoke;
  border-top: 0.2vw solid whitesmoke;
  border-bottom: 0.4vw solid whitesmoke; */

  /* background: rgba(245, 245, 245, 0.5);
  border-left: 1vw solid whitesmoke;
  border-right: 0.2vw solid whitesmoke;
  border-top: 0.2vw solid whitesmoke;
  border-bottom: 0.4vw solid whitesmoke; */

  padding: 0.3vw;
  margin-top: 0.6vw;
  margin-bottom: 0.6vw;
  text-align: center;
}

.flex-image {
  background:lightsteelblue;
  /* background: red; */
  padding: 0.6vw;
  margin-top: 0.6vw;
  margin-bottom: 0.6vw;
  text-align: center;
}

.button {
  border: none;
  color: cornflowerblue;
  padding: 0.3vw 1vw;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  /* display: flex; */
  /* background: rgb(245, 245, 245);
  border-left: 1.2vw solid rgb(250, 250, 250);
  border-right: 1vw solid rgb(250, 250, 250);
  border-top: 0.3vw solid rgb(225, 225, 225);
  border-bottom: 0.6vw solid rgb(215, 215, 215); */
}

